<div class="sidebar">

        <div class="sidebar-section">
            <h5><span>Newsletter</span></h5>
            {% include newsletter.html %}
        </div>

        <div class="sidebar-section">
            <h5><span>Useful</span></h5>
            <ul style="list-none">
            <li><a target="_blank" href="https://m.do.co/c/84c9b45d0c47">Skills of Technical Writer</a></li>
            </ul>
        </div>

        <div class="sidebar-section">
             <h5><span>Recommended</span></h5>
           <a target="_blank" href="https://www.madcapsoftware.com/free-trials/" title="Try Madcap flare tool for online technical publishing, for free"><img src="assets\images\madcap-free-trial.png" alt="Try Madcap flare tool for online technical publishing, for free" /></a>
        </div>

</div>
