---
layout: default
---

<a name="posts"></a>
<archive>
  <name>Posts</name>
  {%- assign posts = site.posts | where:"categories","Basic" -%}
  {%- assign groupedByYear = posts | group_by_exp:"post","post.date | date:'%Y' " -%}
  <!-- total posts: {{ posts.size }} -->

  {%- for yearitem in groupedByYear -%}
  <yearlist>
    <year>{{ yearitem.name }}</year>

    <list>
    {%- for item in yearitem.items -%}
      <item>
        <date>{{ item.date | date:'%B %e'}}</date>
        <span><a href="{{ item.url }}">{{ item.title }}</a></span>
      </item>
    {% endfor %}
    </list>
  </yearlist>
  {% endfor %}
</archive>
